*.nddb
_*
Session.vim
*.tar.gz
~*
*~
*.tar.gz

\#*
.\#*
*.swp
*.bak

server/csv
server/data

data
node_modules

*.log
*.svn
public/pictures/stripes2.gif
auth/auth.settings.js
auth/descil.conf.js
auth/auth.settings.js
