#waitingForPlayers {
    margin: 5px;
    font-size: 20px;
}

div#container {
    width:530px !important;
    margin:0 auto;
}



iframe {
    width:530px !important;
    height: 1000px !important;
}

#ng_header {
    height:100px;
    background:#000;
}

.stagediv {
    display:none;
}

.visualround .panel-heading {
    display:none;
}

div#ng_header {
    position: relative;
    top:20px;
}

.ng_header_position-horizontal-t, .ng_header_position-horizontal-b {
    height: 100px !important;
    width: 530px !important;
    background:#0f0;
    margin:0 auto !important;
}

.visualtimer > .panel-heading {
    float:left;
}

.visualtimer > .panel-body {
    float:right;
}




.visualtimer {
    float: left !important;
    position: static !important;
    width: 250px !important;
}

.title {
    float:left;
}


.visualround {
    float: right !important;
    position: static !important;
    width: 250px !important;
}

.number {
    font-size: 60%;
}