body {
    background-color: #e3e3e3;
}

div#container {
    max-width:530px;
    margin:0 auto;
}   

div#wrapper {    
    width:580px !important;
    margin:0 auto;
    background-color: #ffffff;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-bottom: 30px;
}

.important {
    color: red;
    font-weight: bold;
}

.question {
    font-weight: bold;
}

#colors > p > span, #colorsNF > p > span{
    color: #fff;
    padding:4px;
    margin:6px 0;
}

input#exitCode {
    width:450px !important;
    display: inline-block !important;
}

.quizCell {
    padding-bottom: 6px;
}



.feedbackTop {
    text-align:center;width:30px;background:#fff;color:#888;-webkit-border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;
}

.feedbackMiddle {
    height:33px;border-top:1px solid black;border-bottom:1px solid black;text-align:center;background:#fff;
}

.feedbackBottom {
    text-align:center;background:#fff;color:#888;-webkit-border-radius: 0px 0px 5px 5px;-moz-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px;
}

.highlightSelfTop {
    background:#660 !important;
    color:#fff !important;
    font-weight:bold;
}

.highlightSelfMiddle {
    background:#660 !important;
    color:#fff !important;
    border-top: 1px solid #660;
    border-bottom: 1px solid #660;
}

.highlightSelfBottom {
    background:#660 !important;
    color:#fff !important;
}

.highlightOtherTop {
    background:#714 !important;
    color:#fff !important;
}

.highlightOtherMiddle {
    background:#714 !important;
    color:#fff !important;
    border-top: 1px solid #714;
    border-bottom: 1px solid #714;
}

.highlightOtherBottom {
    background:#714 !important;
    color:#fff !important;
    font-weight:bold;
}

.highlightSameTop {
    background:#f00 url('../pictures/stripes.gif') repeat !important;
    color:#fff !important;
}

.highlightSameMiddle {
    background:#f00 url('../pictures/stripes.gif') repeat !important;
    color:#fff !important;
    border-top: 1px solid #714;
    border-bottom: 1px solid #714;
}

.highlightSameBottom {
    background:#f00 url('../pictures/stripes.gif') repeat !important;
    color:#fff !important;
    font-weight:bold;
}