extends iframe-layout

block mainContent
    div(id='container')
        h1 Check out
        p Thank you for your participation. You have completed this study.
        p Please copy and paste following the code back to Mturk and submit the HIT.
        
        p Exitcode: 
            input(id='exitCode', type='text', value='ExitCode', class='form-control')
        
       
        p Your payment will be processed within the next 24 hours. If you encounter problems with submitting this HIT please search for a HIT called ETH DeSciL Trouble Ticket and report your issues there.
        
