extends iframe-layout

block mainContent
    div(id='container')
        h3 Feedback
        
        div(id='feedbackSentence', style='display:none;')
            p(id='botSentence', style='display:none;') Your partner disconnected. Therefore a random selection was made in their place. In the upcoming round you will be matched with a real person again.
            p(id='botSentence2', style='display:none;') Your partner disconnected. Therefore a random selection was made in their place. This random selection is not displayed here but you will see the payoff from this round in the end of the game. In the upcoming round you will be matched with a real person again.
            span You receive 
            //span(id='self1') 
            //|  and 
            span(id='self2') 
            |  from your own choice (top number) and 
            //span(id='other1') 
            //|  and 
            span(id='other2') 
            |  from your partner's choice (bottom number).
            br
            br
            
        div(id='noSelection', style='display:none;')
            p You did not select any option. Therefore you receive 0 profit for this round and the following allocation was randomly chosen to determine your partner's profit. If you do make any choice for more than 2 rounds the time available will be shortened.

        div(class="alert alert-danger", role="alert", id="error", style="display:none;max-width:530px;")
            strong No feedback. 
            span  There was an error during the choices stage so there is no feedback. Apologies. However, the game should still work for the upcoming rounds. Please continue.
                                   
    
        div(class="panel panel-default", style="max-width:530px;")
            div(class="panel-heading") Allocation
            div(class="panel-body")
                table(style='width:100%;')
                    tr
                        td(style='height:33px;font-weight:normal;') You receive:
                        each val, index in receive
                            td(style='text-align:center;height:33px;width:30px;', class='feedbackTop', id='secondHoverTop' + index)= val
                    tr
                        td(style='border-top:1px solid black;border-bottom:1px solid black;')
                        - var i = 0;
                        while i < 9
                            td(class='feedbackMiddle', id='secondHoverMiddle' + i++) 
                    tr
                        td(style='height:33px;font-weight:normal;') Other receives:
                        each val, index in send
                            td(style='text-align:center;height:33px;width:30px;', class='feedbackBottom', id='secondHoverBottom' + index)= val

        div(id='colors', style='display:none;')
            p
                div(style='display:inline;') 
                     img(src='../pictures/yourChoice.gif')
                span  Your choice.
            p
                div(style='display:inline;') 
                     img(src='../pictures/partnersChoice.gif')
                span  Other's choice. 
            p
                div(style='display:inline;')
                     img(src='../pictures/sameChoice.gif')
                span  Same choice.

        div(id='colorsNF', style='display:none;')
            p
                div(style='background:#660;display:inline;') 
                     img(src='../pictures/yourChoice.gif')
                span  Your choice. 
                
                

        br
        input(type='button', value='Continue', name='continue', id='continue', class='btn')
        
