extends iframe-layout

block mainContent
    div(id='container')
        h3 Feedback
        
        div(id='feedbackSentence', style='display:none;')
            span You receive 
            span(id='self1') 
            |  and 
            span(id='self2') 
            |  from your own choices (top numbers) and 
            span(id='other1') 
            |  and 
            span(id='other2') 
            |  from your partner's choices (bottom numbers).
            br
            br
        
        div(class="panel panel-default", style="width:530px;")
            div(class="panel-heading") First choice
            div(class="panel-body")
                table(style='width:500px;')
                    tr
                        td(style='height:33px;font-weight:normal;') You receive:
                        each val, index in receive1
                            td(class='feedbackTop', id='firstHoverTop' + index)= val
                    tr
                        td(style='border-top:1px solid black;border-bottom:1px solid black;')
                        - var i = 0;
                        while i < 9
                            td(class='feedbackMiddle', id='firstHoverMiddle' + i++)

                    tr
                        td(style='height:33px;font-weight:normal;') Your partner receives:
                        each val, index in send1
                            td(class='feedbackBottom', id='firstHoverBottom' + index)= val
                

        div(class="panel panel-default", style="width:530px;")
            div(class="panel-heading") Second choice
            div(class="panel-body")
                table(style='width:500px;')
                    tr
                        td(style='height:33px;font-weight:normal;') You receive:
                        each val, index in receive2
                            td(class='feedbackTop', id='secondHoverTop' + index)= val
                    tr
                        td(style='border-top:1px solid black;border-bottom:1px solid black;')
                        - var i = 0;
                        while i < 9
                            td(class='feedbackMiddle', id='secondHoverMiddle' + i++) 
                    tr
                        td(style='height:33px;font-weight:normal;') Your partner receives:
                        each val, index in send2
                            td(class='feedbackBottom', id='secondHoverBottom' + index)= val

        div(id='colors', style='display:none;')
            p
                div(style='display:inline;') 
                     img(src='../pictures/yourChoice.gif')
                span  Your choice, 
                div(style='display:inline;') 
                     img(src='../pictures/partnersChoice.gif')
                span  Partner's choice, 
                div(style='display:inline;')
                     img(src='../pictures/sameChoice.gif')
                span  Both made the same choice

        div(id='colorsNF', style='display:none;')
            p
                div(style='background:#660;display:inline;') 
                     img(src='../pictures/yourChoice.gif')
                span  Your choice 
        
        br
        input(type='button', value='Continue', name='continue', id='continue', class='btn')
        
