extends iframe-layout

block mainContent
    div(id='container')
        h1 Instructions of the Game
        div(id='instructions')
        
            p Please read these instructions carefully.
            p This game consists of 20 players and 10 rounds of play.
            p Each round, you are paired with one randomly chosen person whom you will not be paired with again.
            p Each round, you will make a choice to allocate a number of coins to yourself and another number of coins to your partner, and your partner will be facing the same decision at the same time.
            p Here is how such a decision works: after you choose an allocation on a slider (see below), you will receive the number of coins at the top and your recipient will receive the number of coins at the bottom.

            div(class="panel panel-default", style="max-width:530px;")
                div(class="panel-heading") Example choice
                div(class="panel-body")
                    table(style='width:100%;')
                        tr
                            td(style='font-weight:normal;') You receive:
                            each val, index in receive
                                td(style='text-align:center;height:33px;width:30px;background:#fff;-webkit-border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;', class='firstHoverclass' + index)= val
                        tr
                            td(style='border-top:1px solid black;border-bottom:1px solid black;')
                            - var i = 0;
                            while i < 9
                                td(style='height:33px;border-top:1px solid black;border-bottom:1px solid black;text-align:center;background:#fff;', class='firstHoverclass' + i)
                                    input(type='radio', name='position', id='firstPos' + i, value=i++, disabled='disabled')
                        tr
                            td(style='font-weight:normal;') Other receives:
                            each val, index in send
                                td(style='height:33px;text-align:center;background:#fff;-webkit-border-radius: 0px 0px 5px 5px;-moz-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px;', class='firstHoverclass' + index)= val
                    
            
            p After each decision you will be informed about your partner’s choice, and about your next partner’s choice in his/her previous round.
            p At the end of the 10 rounds, you will receive the total number of coins that you allocated to yourself plus the total number of coins that were allocated to you. The exchange rate is such that 2,000 coins are worth 1 USD.
            p If you understand these instructions please continue to the quiz.
                       
            br
            input(type='button', id='read', value='Continue', class='btn')
 
 