extends iframe-layout

block mainContent
    div(id='container')
        h1 Instructions of the Game
        div(id='instructions')
        
            p Please read these instructions carefully.
            p This game consists of ten rounds of play. Your decisions will affect your own payoff and that of another person, who remains your partner for the entire game.
            p Each round, you will make a choice to allocate a number of coins to your private account and another number of coins to your recipient.
            p Here is how such a choice works: you make an allocation decision on a slider (see below) – whatever allocation you choose, you will receive the number at the top and your recipient will receive the number at the bottom.

            div(class="panel panel-default", style="width:530px;")
                div(class="panel-heading") Example choice
                div(class="panel-body")
                    table(style='width:500px;')
                        tr
                            td(style='font-weight:normal;') You receive:
                            each val, index in receive2
                                td(style='text-align:center;height:33px;width:30px;background:#fff;-webkit-border-radius: 5px 5px 0px 0px;-moz-border-radius: 5px 5px 0px 0px;border-radius: 5px 5px 0px 0px;', class='firstHoverclass' + index)= val
                        tr
                            td(style='border-top:1px solid black;border-bottom:1px solid black;')
                            - var i = 0;
                            while i < 9
                                td(style='height:33px;border-top:1px solid black;border-bottom:1px solid black;text-align:center;background:#fff;', class='firstHoverclass' + i)
                                    input(type='radio', name='position', id='firstPos' + i, value=i++, disabled='disabled')
                        tr
                            td(style='font-weight:normal;') Other receives:
                            each val, index in send2
                                td(style='height:33px;text-align:center;background:#fff;-webkit-border-radius: 0px 0px 5px 5px;-moz-border-radius: 0px 0px 5px 5px;border-radius: 0px 0px 5px 5px;', class='firstHoverclass' + index)= val
                    
            
            p At the end of the ten rounds, you will receive the total number of coins that you allocated to yourself plus the total number of coins that were allocated to you. The exchange rate is such that 2,000 coins are worth 1 USD.
            p If you understand these instructions please continue to the quiz.
                       
            br
            input(type='button', id='read', value='Continue', class='btn')
 