extends iframe-layout

block mainContent
    div(id='container')
        h1 Quiz Feedback
        
        p
            span(id='numberOfPersons')
            
        p
            span(id='payoffQuiz1')    
            
        p
            span(id='payoffQuiz2')             
        
        input(type='button', value='Continue', name='continue', id='continue', class='btn')