extends iframe-layout

block mainContent
    div(id='container')
        h1 Quiz Results
        
        p
            span(id='quizResult') 
        
        div(class="panel panel-default", id='numberOfPersons', style='display:none;')
            div(class="panel-body")
                span(style='font-weight:bold;color:#F00;') 1. How many players are you partnered with in each round?
                br
                span The correct answer is 1. You are partnered with one player throughout the entire game.
            
        div(class="panel panel-default", id='payoffQuiz1', style='display:none;')
            div(class="panel-body")
                span(style='font-weight:bold;color:#F00;') 2. Suppose your choice is 100 (self) and 50 (other). The number of coins allocated to you from your choice is:
                br
                span The correct answer is 100. You receive 100 from your choice.      
            
        div(class="panel panel-default", id='payoffQuiz2', style='display:none;')
            div(class="panel-body")
                span(style='font-weight:bold;color:#F00;') 3. Suppose your partner's choice is 100 (self) and 50 (other). The number of coins allocated to you from your partner's choice is:
                br
                span The correct answer is 50. You receive 50 from your partner's choice.            
        
        input(type='button', value='Continue', name='continue', id='continue', class='btn')