extends iframe-layout

block mainContent
    div(id='container')
        h1 Quiz 
        
        div(class="alert alert-danger", role="alert", id="badAlert", style="display:none;width:530px;")
            span(style="font-weight:bold;") Incomplete. 
            span Please choose an answer for all questions.
            
        div(class="alert alert-success", role="alert", id="goodAlert", style="display:none;width:530px;")
            span You have submitted your answers.
        
        p Please answer the following questions before continuing to the experiment.
        
        p
            span(style='font-weight:bold;') 1. How many additional persons are there in your group?
            br
            span(id="personsQuiz0")
                input(type='radio', name='numberOfPersons', id='personsQuiz_radio0', value='1')
                |  1
            br
            span(id="personsQuiz1")
                input(type='radio', name='numberOfPersons', id='personsQuiz_radio1', value='2')
                |  2
            br
            span(id="personsQuiz2")
                input(type='radio', name='numberOfPersons', id='personsQuiz_radio2', value='9')
                |  9
            
        
        p 
            span(style='font-weight:bold;') 2. Suppose it is your choice and your first choice is 85, 15 and your second choice is 100, 50. The total number of coins allocated to you from your choices is:
            br
            span(id="payoffQuiz1_0")
                input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio0", value='100')
                |  85+15=100
            br
            span(id="payoffQuiz1_1")
                input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio1", value='185')
                |  85+100=185
            br
            span(id="payoffQuiz1_2")
                input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio2", value='135')
                |  85+50=135
            br
            span(id="payoffQuiz1_3")
                input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio3", value='115')
                |  15+100=115
            br
            span(id="payoffQuiz1_4")
                input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio4", value='65')
                |  15+50=65
            br
            span(id="payoffQuiz1_5")
                input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio5", value='150')
                |  100+50=150
        
        p 
            span(style='font-weight:bold;') 3. Suppose it is your partner's choice and his first choice is 85, 15 and his second choice is 100, 50. The total number of coins allocated to you from your partner's choices is:
            br
            span(id="payoffQuiz2_0")
                input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio0", value='100')
                span  85+15=100
            br
            span(id="payoffQuiz2_1")
                input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio1", value='185')
                span  85+100=185
            br
            span(id="payoffQuiz2_2")
                input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio2", value='135')
                span  85+50=135
            br
            span(id="payoffQuiz2_3")
                input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio3", value='115')
                span  15+100=115
            br
            span(id="payoffQuiz2_4")
                input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio4", value='65')
                span  15+50=65
            br
            span(id="payoffQuiz2_5")
                input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio5", value='150')
                span  100+50=150
            
        
        input(type='button', value='Continue', name='continue', id='continue', class='btn')

