extends iframe-layout

block mainContent
    div(id='container')
        h1 Quiz
        
        div(class="alert alert-danger", role="alert", id="badAlert", style="display:none;width:530px;")
            span Please choose an answer for all questions.
            
        div(class="alert alert-success", role="alert", id="goodAlert", style="display:none;width:530px;")
            span You have submitted your answers.
        
        p Please answer the following questions before continuing to the experiment.
        
        div(class="panel panel-default")
            div(class="panel-body")
                span(style='font-weight:bold;') 1. How many additional persons are there in your group?
                br
                span(id="personsQuiz0", style='cursor:hand;cursor:pointer;')
                    input(type='radio', name='numberOfPersons', id='personsQuiz_radio0', value='1')
                    |  1
                br
                span(id="personsQuiz1", style='cursor:hand;cursor:pointer;')
                    input(type='radio', name='numberOfPersons', id='personsQuiz_radio1', value='2')
                    |  2
                br
                span(id="personsQuiz2", style='cursor:hand;cursor:pointer;')
                    input(type='radio', name='numberOfPersons', id='personsQuiz_radio2', value='9')
                    |  9

   
        div(class="panel panel-default")
            div(class="panel-body") 
                span(style='font-weight:bold;') 2. Suppose your choice is 100 (self) and 50 (other). The number of coins allocated to you from your choice is:
                br
                span(id="payoffQuiz1_0", style='cursor:hand;cursor:pointer;')
                    input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio0", value='50')
                    |  50
                br
                span(id="payoffQuiz1_1", style='cursor:hand;cursor:pointer;')
                    input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio1", value='150')
                    |  150
                br
                span(id="payoffQuiz1_2", style='cursor:hand;cursor:pointer;')
                    input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio2", value='100')
                    |  100
                    //-tr(style='padding-bottom:10px;')
                        td(class='quizCell')
                            span(id="payoffQuiz1_3", style='cursor:hand;cursor:pointer;')
                                input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio3", value='115')
                                |  15+100=115
                        td(class='quizCell')
                            span(id="payoffQuiz1_4", style='cursor:hand;cursor:pointer;')
                                input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio4", value='65')
                                |  15+50=65
                        td(class='quizCell')
                            span(id="payoffQuiz1_5", style='cursor:hand;cursor:pointer;')
                                input(type='radio', name='payoffQuiz1', id="payoffQuiz1_radio5", value='150')
                                |  100+50=150
        
        
        div(class="panel panel-default")
            div(class="panel-body")
                span(style='font-weight:bold;') 3. Suppose your partner's choice is 100 (self) and 50 (other). The number of coins allocated to you from your partner's choice is:
                br
                span(id="payoffQuiz2_0", style='cursor:hand;cursor:pointer;background:#0f0;')
                    input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio0", value='50')
                    |  50
                br
                span(id="payoffQuiz2_1", style='cursor:hand;cursor:pointer;')
                    input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio1", value='150')
                    |  150
                br
                span(id="payoffQuiz2_2", style='cursor:hand;cursor:pointer;')
                    input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio2", value='100')
                    |  100
                    //-tr
                        td(class='quizCell')
                            span(id="payoffQuiz2_3", style='cursor:hand;cursor:pointer;')
                                input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio3", value='115')
                                span  15+100=115
                        td(class='quizCell')
                            span(id="payoffQuiz2_4", style='cursor:hand;cursor:pointer;')
                                input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio4", value='65')
                                span  15+50=65
                        td(class='quizCell')
                            span(id="payoffQuiz2_5", style='cursor:hand;cursor:pointer;')
                                input(type='radio', name='payoffQuiz2', id="payoffQuiz2_radio5", value='150')
                                span  100+50=150
                
        
        input(type='button', value='Continue', name='continue', id='continue', class='btn')

