extends iframe-layout

block mainContent
    div(id='container')
        h3 Payoffs

        div(class="panel panel-default", style="width:530px;")
            div(class="panel-heading") Payoff by round

            table(class="table")
                thead
                    tr
                        th(style='width:130px;')
                        th(style='width:200px;') Payoff from Self
                        th Payoff from Other
                tbody
                    - var i = 0;
                    while i < 10

                        tr
                            - var round = i + 1;
                            td= 'Round ' + round
                            td
                                span(id='payFromSelf' + i)
                            td
                                span(id='payFromOther' + i++)
                tfoot
                    tr
                        td(style='font-weight:bold;border-top:solid 2px #ddd;') Total
                        td(style='font-weight:bold;border-top:solid 2px #ddd;;')
                            span(id='totalFromSelf')
                        td(style='font-weight:bold;border-top:solid 2px #ddd;;')
                            span(id='totalFromOther')
                    

        
        div(class="panel panel-default", style="width:530px;")
            div(class="panel-heading") Totals
            
            table(class='table')
                tbody
                    tr
                        td(style='width:330px;') Total payoff from Self
                        td(style='width:200px;')
                            span(id='totalFromSelf2')
                    tr
                        td Total payoff from Other
                        td
                            span(id='totalFromOther2')
                    tfoot
                        tr
                            td(style='font-weight:bold;border-top:solid 2px #ddd;') Total payoff
                            td
                                span(id='totalpayoff', style="font-weight:bold;")
                        tr
                            td(style='font-weight:bold;border-top:solid 2px #ddd;') Bonus in USD
                            td
                                span(id='realpayoffSpan', style="font-weight:bold;")
                                span(style="font-weight:bold;")$
                        
 
                
                
        
        input(type='button', value=submit, name='continue', id='continue', class='btn')

 